/* Projects section */
.projectsTitle {
    margin-bottom: 0;
    margin-top: 50px;
    margin-left: 30px;
    color: var(--primary-color);
    text-shadow: 2px 1px 0px var(--tertiary-color);
    font-size: 3.5em;
    font-weight: 300;
    line-height: 1.2;
    white-space:nowrap;
    text-overflow: none;
}

.customCard {
    border:solid 2px var(--border-color);
    outline: none;
    background-color: var(--border-color);
    border-radius: 3px;
    box-shadow: none;
    margin-top: 3%;
}

.customCard:hover {
    animation: animated-border 1.5s infinite;
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
}

.main-card-body {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-font-color);
    padding-bottom: 2px;
}

/* assignments section */

.assignmentsTitle {
    text-align: right;
    margin-bottom: 0;
    margin-top: 50px;
    margin-right: 30px;
    color: var(--primary-color);
    text-shadow: 2px 1px 0px var(--tertiary-color);
    font-size: 3em;
    font-weight: 300;
    line-height: 1.2;
    white-space:nowrap;
    text-overflow: none;
}
.group-card-body {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-font-color);
    padding-bottom: 2px;
}

.group-img-height {
    border: none;
}

.card-footer {
    background-color:var(--secondary-bg-color); ;
    border: none;
}

.custom-length-pm {
    width: 66%;
}

.custom-length-pp {
    width: 98%;
}
.custom-length-sm {
    width: 29%;
}

.custom-length-ps {
    width: 66%;
}

.custom-length-ss {
    width: 29%;
}

/*                      Custom colors for words in projects section */
.refract {
    color: rgb(0, 110, 255);
}
.javascript {
    color:rgb(255, 31, 31);
}
.moment {
    color:rgb(255, 128, 128);
}
.css {
    color: green;
}
.html {
    color: rgb(25, 25, 255);
}

.node {
    color: rgb(255, 127, 42);
}

.herkou {
    color: rgb(128, 0, 117);
}

.iconify {
    margin-bottom: 2px;
}
